@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mb-5">
    <h1 class="display-4">Проект 'WebForm'</h1>
    <h5 class="fw-normal fst-italic mt-4">Проект сделан на основе языков программирования C#, HTML, CSS</h5>
    <h5 class="fw-normal fst-italic">С помощью Visual Studio - ASP.NET Web App (Model-View-Controller)</h5>
</div>
<div class="m-auto w-75">
    <h5 class="fw-normal">1. За счёт удобного и общедоступного функционала работа с WebForm происходит быстро и просто.</h5>
    <h5 class="mt-4 fw-normal">2. Набор функций у проекта WebForm имеет средний размер для первого раза работы с NET.CORE</h5>
    <h5 class="mt-4 fw-normal text-danger">ВАЖНО</h5>
    <h5 class="mt-2 fw-normal">3. На этом сайте любой пользователь способен управлять общей базой данных, которая имеет базовый набор функций</h5>
    <h4 class="mt-5 fw-normal">4. Функции базы данных:</h4>
    <p>-Добавление нового пользователя</p>
    <p>-Быстрого удаления пользователя</p>
    <p>-Вывод времени создания для каждого пользователя>
    <p>-Редактирование</p>
    <p>-Оповещенение об изменениях</p>
    <h5 class="mt-5 fw-normal">5. Для полного ознакомления с работой WebForm следует прочитать <a href="~/lib/Курсовая.docx" download>курсовую разработчика</a></h5>
</div>