@{
    ViewData["Title"] = "Политика 'WebForm'";
}
<h1 class="mt-4 fst-italic text-center">@ViewData["Title"]</h1>
<h2 class="text-center mt-4 text-decoration-underline">Пункты</h2>
<div class="m-auto w-75">
    <h3 class="text-primary mt-3">1. Введение</h3>
    <p class="text-start">Наша компания серьезно относится к защите конфиденциальности пользователей и собирает, обрабатывает и хранит данные только в соответствии с действующими стандартами и законодательством. Наша политика конфиденциальности применима к каждому пользователю, посещающему и использующему наш веб-сайт.</p>
    <h3 class="text-secondary mt-4">2. Сбор данных</h3>
    <p class="text-sm-start">Мы собираем несколько типов информации, включая личные данные, такие как имя и контактную информацию, а также техническую информацию о вашем устройстве и использовании нашего веб-сайта. Мы используем получаемую информацию для лучшего понимания потребностей и предоставления наших услуг, а также для более эффективной коммуникации с пользователями нашего сайта.</p>
    <h3 class="text-info mt-4" label>3. ИНФО</h3>
    <p>Контактная информация</p>
    <p>Если у вас возникнут вопросы или проблемы, связанные с нашим веб-сайтом или политикой конфиденциальности, вы можете связаться с нами по следующим контактным данным:</p>
    <p>- Имя: Сергей</p>
    <p>- Телефон: [+79057086130]</p>
    <p>- Email: [<a href="mailto:m2203257@misis.ru">m2203257@edu.misis.ru</a>]</p>
    <p>- Адрес: [МИСИС]</p>
    <h3 class="text-warning mt-4">4. Сроки хранения данных</h3>
    <p class="text-sm-start">Данные занесённые в базу данных будут храниться до тех пор пока вы сами не решите её удалить.</p>
    <p>Если возникнут с этим пожалуйста обратитесь к пункту <span class="text-info fw-bold">ИНФО</span></p>
</div>