@model Category

<form method="post" asp-action="Delete">
	<input asp-for="Id" hidden /> @*из-за того что строки ввода отклчены*@
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Категория Удаление</h2>
			<hr />
		</div>
		@*<div asp-validation-summary="All"></div>*@
		<div class="mb-3">
			<label asp-for="Name"></label>
			<input asp-for="Name" disabled class="form-control" />
		</div>
		<div class="mb-3">
			<label asp-for="DisplayOrder"></label>
			<input asp-for="DisplayOrder" disabled class="form-control" />
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px">Удалить</button>
		<a asp-category="Category" asp-action="Index" class="btn btn-secondary" style="width:150px">Вернуться к списку</a>
	</div>
</form>
@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" /> //Принцип, который убирает перезагрузку сервера при нажатии кнопки, делает перезагрузку на стороне клиента
	}
}